<template>
<v-app id="inspire">
    <Principal />
</v-app>
</template>

<script>
import Principal from '../components/Principal'
export default {
    name: 'Home',

    components: {
        Principal,
    },
    data: () => ({
        login_show: true,
        valid: false,
        attrs: "",
        show1: false,
        on: "",
        user: "",
        password: "",
        rules: {
            required: value => !!value || 'Contraseña obligatoria.',
            min: v => v.length >= 8 || 'Min 8 characters',
            emailMatch: () => (`El correo electrónico y la contraseña que ingresaste no coinciden`),
        },
        emailRules: [
            v => !!v || 'Correo obligatorio',
            v => /.+@.+/.test(v) || 'El email debe ser válido',
        ],
    }),
    methods: {
        validate() {
            this.$refs.form.validate()
        },
        reset() {
            this.$refs.form.reset()
        },
        resetValidation() {
            this.$refs.form.resetValidation()
        },
    },
}
</script>
