<template>
<div class="page-wrapper">
    <div class="container-fluid">
        <br />
        <v-data-table :headers="headers" :items="citas" sort-by="id" class="elevation-1" :search="search">
            <template v-slot:top>
                <v-app-bar dark color="pink">
                    <v-toolbar-title>Citas agendadas</v-toolbar-title>
                </v-app-bar>
                <v-toolbar flat>
                    <v-text-field v-model="search" append-icon="mdi-magnify" label="Buscar" single-line hide-details></v-text-field>
                    <v-btn icon color="green" @click="initialize()">
                        <v-icon>mdi-cached</v-icon>
                    </v-btn>
                    <v-dialog v-model="dialog" max-width="500px">
                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" md="6">
                                            <v-autocomplete v-model="editedItem.cliente" :items="clientes_cat" item-value="id" item-text="clientesD" return-object label="Clientes"></v-autocomplete>
                                        </v-col>
                                        <v-col cols="12" md="12">
                                            <v-autocomplete v-model="editedItem.fechaD" :items="hora_cat" item-value="id" item-text="horarioDis" return-object label="Horarios disponibles"></v-autocomplete>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                                <v-btn color="blue darken-1" text @click="validateElements()">Save</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>

                    <v-dialog v-model="dialogDelete" max-width="500px">
                        <v-card>
                            <v-card-title class="headline">¿Eliminar este elemento?</v-card-title>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
                                <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                                <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>
            <template v-slot:item.state="{ item }">
                <v-chip elevation="2" rounded small v-if="item.state=='draft'" color="#FF9D00">Pendiente</v-chip>
                <v-chip elevation="2" rounded small v-else-if="item.state=='paid'" color="#4CAF50">Confirmada</v-chip>
                <v-chip elevation="2" rounded small v-else color="#FF5252">Cancelada</v-chip>
            </template>
            <template v-slot:item.status="{ item }">
                <v-chip elevation="2" rounded v-if="item.state=='paid'" color="#FF5252" @click="changeState(item)">Cancelar</v-chip>
                <v-chip elevation="2" rounded v-else-if="item.state=='draft'" color="#4CAF50" @click="changeState(item)">Aprovar</v-chip>
                <v-chip elevation="2" rounded v-else-if="item.state=='cancel'" color="#4CAF50" @click="changeState(item)">Aprovar</v-chip>
            </template>
            <template v-slot:item.actions="{ item }">
                <v-icon small class="mr-2" @click="editItem(item)">
                    mdi-pencil
                </v-icon>
                <v-icon color="#FF5252" small @click="deleteItem(item)">
                    mdi-delete
                </v-icon>
            </template>
            <template v-slot:no-data>
                <v-btn color="#2b81d6" @click="initialize">
                    Reset
                </v-btn>
            </template>
            <template v-slot:item.fecha="props">
                <v-edit-dialog :return-value.sync="props.item.fecha" large persistent @save="saveDate(props.item)">
                    <div>{{ props.item.fecha }}</div>
                    <template v-slot:input>
                        <div class="mt-4 text-h6">
                            Editar fecha
                        </div>
                        <v-text-field v-model="props.item.fecha" :rules="[max19chars]" label="Edit" single-line counter autofocus></v-text-field>
                    </template>
                </v-edit-dialog>
            </template>
        </v-data-table>
        <template>
            <v-dialog v-model="dialog" max-width="500px">
                <template v-slot:activator="{ on, attrs }">
                    <v-btn v-bind="attrs" v-on="on" v-show="!hidden" color="pink" dark fixed bottom right fab>
                        <v-icon dark>
                            mdi-plus
                        </v-icon>
                    </v-btn>
                </template>
            </v-dialog>
        </template>
        <template>
            <v-snackbar v-model="snackbar" :timeout="timeout" :color="Scolor">
                {{ mensaje }}
            </v-snackbar>
        </template>
    </div>
</div>
</template>

<style>
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
</style>

<script>
import API from "../config"
import axios from "axios";
export default {
    data: () => ({
        hidden: "",
        attrs: "",
        on: "",
        search: "",
        date_chg: false,
        dialog: false,
        dialogInsert: false,
        dialogDelete: false,
        menu: false,
        modal: false,
        modal2: false,
        menu2: false,
        snackbar: false,
        mensaje: '',
        Scolor: '',
        timeout: 2500,
        hora_cat: [],
        clientes_cat: [],
        max19chars: v => v.length < 20 || 'Input too long!',
        items: [{
                text: 'Pendiente',
                value: 'draft'
            },
            {
                text: 'Aprovada',
                value: 'paid'
            },
            {
                text: 'Cancelada',
                value: 'cancel'
            }
        ],
        headers: [{
                text: 'Folio',
                align: 'start',
                sortable: false,
                value: 'folio',
            },
            {
                text: 'Nombre',
                value: 'nombre'
            },
            {
                text: 'Correo',
                value: 'correo'
            },
            {
                text: 'Tel',
                value: 'tel'
            },
            {
                text: 'Fecha',
                value: 'fecha'
            },
            {
                text: 'Estado',
                value: 'state'
            },
            {
                text: 'Estatus',
                value: 'status'
            },
            {
                text: 'Opciones',
                value: 'actions',
                sortable: false
            },
        ],
        citas: [],
        rules: {
            email: value => {
                const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                return pattern.test(value) || 'E-mail invalido.'
            },
        },
        editedIndex: -1,
        editedItem: {
            nombre: "",
            correo: "",
            tel: "",
            Sfecha: "",
            state: "",
            status: "",
            horario: "",
            fechaD: "",
            cliente: "",
            horInfo: "",
            cliente_id: "",
            horario_id: "",
            hora: ""
        },
        defaultItem: {
            nombre: "",
            correo: "",
            tel: "",
            Sfecha: "",
            state: "",
            status: "",
            horario: "",
            fechaD: "",
            cliente: "",
            horInfo: "",
            cliente_id: null,
            horario_id: null,
            hora: ""
        },
    }),

    computed: {
        formTitle() {
            return this.editedIndex === -1 ? 'Nueva cita' : 'Editar cita'
        },
    },

    watch: {
        dialog(val) {
            val || this.close()
        },
        dialogDelete(val) {
            val || this.closeDelete()
        },
    },

    created() {
        this.initialize()
    },

    methods: {
        initialize() {

            this.horarios = []
            axios.get(API.url() + "getcitasadmin")
                .then((response) => (this.citas = response.data.data))
                .catch(function (error) {
                    console.log(error);
                });
            axios
                .get(API.url() + "gethorariosdisponibles")
                .then(response => response.data.data.forEach(this.set_horarios))
                .catch(function (error) {
                    console.log(error);
                });
            axios
                .get(API.url() + "getclientes")
                .then(response => response.data.data.forEach(this.set_clientes))
                .catch(function (error) {
                    console.log(error);
                });
        },
        set_horarios(element) {
            this.hora_cat.push({
                id: element.id,
                horarioDis: String(
                    element.fecha +
                    ", " +
                    element.calle +
                    ", " +
                    element.colonia +
                    ", " +
                    element.ciudad +
                    ", " +
                    element.estado
                )
            });
        },
        set_clientes(element) {
            this.clientes_cat.push({
                id: element.id,
                clientesD: String(element.nombre),
                email: String(element.correo)
            });
        },
        validateElements() {
            if (this.editedIndex > -1) {
                this.save();
            } else {
                if (this.editedItem.cliente.id == null || this.editedItem.fechaD.id == null ||
                    this.editedItem.cliente == undefined || this.editedItem.fechaD == undefined) {
                    this.mensaje = "Hay campos vacios";
                    this.Scolor = "#FF9D00";
                    this.snackbar = true;
                } else {
                    this.save();
                }
            }
        },

        editItem(item) {
            this.editedIndex = this.citas.indexOf(item);
            const Sfecha = new Date(item.fecha).toISOString().slice(0, 10);
            const hora = new Date(item.fecha).toLocaleTimeString();
            this.editedItem.id = item.id;
            this.editedItem.cliente = item.cliente_id;
            this.editedItem.fechaD = item.horario_id;
            this.editedItem.horInfo = item.horario_id;
            this.editedItem.Sfecha = String(Sfecha);
            this.editedItem.hora = String(hora);
            this.editedItem.cliente_id = item.cliente_id;
            this.editedItem.horario_id = item.horario_id;
            this.dialog = true;
        },

        deleteItem(item) {
            this.editedIndex = this.citas.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialogDelete = true
        },

        deleteItemConfirm() {
            this.citas.splice(this.editedIndex, 1)
            let formData = new FormData();
            formData.append('id', this.editedItem.id);
            formData.append('horario_id', this.editedItem.horario_id);
            axios.post(API.url() + 'deletecita', formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then(response => {
                    console.log(response.status)
                    if (response.status === 200) {
                        this.snackbar = true
                        this.Scolor = '#4CAF50'
                        this.mensaje = 'Eliminación exitosa'
                    }
                })
                .catch((error) => {
                    if (error.response) {
                        this.snackbar = true
                        this.mensaje = 'Ups, Hubo un problema al eliminar'
                        this.Scolor = '#FF5252'
                    }
                });
            this.closeDelete()
        },

        close() {
            this.dialog = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },
        closeDelete() {
            this.dialogDelete = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },

        saveDate(a) {
            if (a.fecha.length != 19) {
                this.mensaje = "Formato invalido";
                this.Scolor = "#FF9D00";
                this.snackbar = true;
                this.initialize();
            } else {
                try {
                    this.editedIndex = this.citas.indexOf(a);
                    this.editedItem.horario_id = a.horario_id;
                    const fecha = new Date(a.fecha).toISOString().slice(0, 10);
                    const hora = new Date(a.fecha).toLocaleTimeString();
                    const fecha_F = fecha + " " + hora;
                    let formDataHr = new FormData();
                    formDataHr.append("id", this.editedItem.horario_id);
                    formDataHr.append("fecha", fecha_F);
                    axios
                        .post(API.url() + "updatefecha", formDataHr, {
                            headers: {
                                "Content-Type": "multipart/form-data"
                            }
                        })
                        .then(response => {
                            if (response.status === 200) {
                                this.mensaje = "Modificación exitosa";
                                this.Scolor = "#4CAF50";
                                this.snackbar = true;
                                this.initialize();
                            }
                            this.initialize()
                        })
                        .catch(error => {
                            if (error.response) {
                                this.snackbar = true;
                                this.mensaje = "Ups, Hubo un problema al mofdificar, intenta otra vez";
                                this.Scolor = "#FF5252";
                            }
                        });
                } catch (err) {
                    this.mensaje = "Formato invalido";
                    this.Scolor = "#FF9D00";
                    this.snackbar = true;
                    this.initialize();
                }
            }
        },

        save() {
            if (this.editedIndex > -1) {
                let formData = new FormData();
                formData.append("id", this.editedItem.id);
                formData.append("horario_act", this.editedItem.horario_id);
                //comprobar selección de v-autocomplete (v-select) para cliente
                if (typeof this.editedItem.cliente == 'object') {
                    formData.append("cliente_id", this.editedItem.cliente.id);
                } else {
                    formData.append("cliente_id", this.editedItem.cliente);
                }
                //comprobar selección de v-autocomplete (v-select) para horario
                if (typeof this.editedItem.fechaD == 'object') {
                    formData.append("horario_id", this.editedItem.fechaD.id);
                } else {
                    formData.append("horario_id", this.editedItem.fechaD);
                }

                axios
                    .post(API.url() + "putcita", formData, {
                        headers: {
                            "Content-Type": "multipart/form-data"
                        }
                    })
                    .then((response) => {
                        if (response.status === 200) {
                            this.initialize();
                            this.snackbar = true;
                            this.mensaje = "Modificación exitosa";
                            this.Scolor = "#4CAF50";
                        }
                    })
                    .catch(error => {
                        if (error.response) {
                            this.snackbar = true;
                            this.mensaje =
                                "Ups, Hubo un problema al modificar, revisa los campos";
                            this.Scolor = "#FF5252";
                        }
                    });

            } else {
                let formData = new FormData();
                formData.append("horario_id", this.editedItem.fechaD.id);
                formData.append("cliente_id", this.editedItem.cliente.id);
                axios
                    .post(API.url() + "postcita", formData, {
                        headers: {
                            "Content-Type": "multipart/form-data"
                        }
                    })
                    .then(response => {
                        if (response.status === 200) {
                            this.initialize();
                            this.snackbar = true;
                            this.Scolor = "#4CAF50";
                            this.mensaje = "Agregado con éxito";
                        }
                    })
                    .catch(error => {
                        if (error.response) {
                            this.snackbar = true;
                            this.mensaje =
                                "Ups, Hubo un problema al agregar, intenta otra vez";
                            this.Scolor = "#FF5252";
                        }
                    });
            }
            this.close();
        },
        changeState(item) {
            var sta = ''
            if (item.state == 'draft') {
                sta = 'paid'
            }
            if (item.state == 'paid') {
                sta = 'cancel'
            }
            if (item.state == 'cancel') {
                sta = 'paid'
            }
            let formData = new FormData();
            formData.append("id", item.id);
            formData.append("state", sta);
            axios
                .post(API.url() + 'changestate', formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then((response) => {
                    console.log(response.data.data), this.initialize()
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
    },
}
</script>
