<template>
<div class="page-wrapper">
    <div align="right" class="container-fluid">
        <br />
        <template>
            <v-card class="mx-auto my-12" max-width="374">
                <template slot="progress">
                    <v-progress-linear color="deep-purple" height="10" indeterminate></v-progress-linear>
                </template>
                <div align="center">
                    <h2>{{ $route.params.folio }}</h2>
                    <vue-qrcode :value="$route.params.folio" height="300" />
                </div>
                <v-card-text>
                    <v-row align="center" class="mx-0">
                        <v-chip elevation="2" rounded small v-if="state == 'draft'" color="#FF9D00">Pendiente</v-chip>
                        <v-chip elevation="2" rounded small v-else-if="state == 'paid'" color="#4CAF50">Confirmada</v-chip>
                        <v-chip elevation="2" rounded small v-else color="#FF5252">Cancelada</v-chip>
                    </v-row>

                    <div class="my-4 text" v-show="descuento_codigo">
                        {{ descuento_codigo }}%
                    </div>
                    <div class="my-4 text">Precio servicio: ${{ precio_servicio }}</div>
                    <div class="my-4 text-subtitle-1">Total: ${{ precio_final }}</div>

                    <div class="text-h6 font-weight-regular grey--text">
                        {{ servicio }}
                    </div>
                </v-card-text>

                <v-divider class="mx-4"></v-divider>

                <v-card-title>Fecha de la cita</v-card-title>

                <v-card-text>
                    <v-chip-group v-model="selection" active-class="deep-purple accent-4 white--text" column>
                        <v-chip>{{ fecha }}</v-chip>
                    </v-chip-group>
                </v-card-text>

                <v-card-actions>
                    <v-btn color="#FF5252" text>
                        Concluir
                    </v-btn>
                    <v-btn color="deep-purple" to="/citas_scan" text>
                        Escanear otra cita
                    </v-btn>
                </v-card-actions>
            </v-card>
        </template>
    </div>
    <v-dialog transition="dialog-bottom-transition" max-width="600" v-model="dialog">
        <template v-slot:default="dialog">
            <v-card>
                <v-toolbar color="#3bc6d5" dark>Alerta</v-toolbar>
                <v-card-text>
                    <div class="text-h6 pa-12">{{ mensaje }}</div>
                </v-card-text>
                <v-card-actions class="justify-end">
                    <v-btn color="deep-purple" to="/citas_scan" text>
                        Escanear otra cita
                    </v-btn>
                    <v-btn text @click="dialog.value = false">Cerrar</v-btn>
                </v-card-actions>
            </v-card>
        </template>
    </v-dialog>
</div>
</template>

<style>
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
</style>

<script>
import API from "../config";
import axios from "axios";
import VueQrcode from "vue-qrcode";
export default {
    props: {
        folio: {
            type: String,
        },
    },
    data: () => ({
        value: "https://example.com",
        mensaje: "",
        dialog: false,
        size: 300,
        selection: 1,
        folios: "",
        fecha: "",
        calle: "",
        colonia: "",
        ciudad: "",
        estado: "",
        servicio: "",
        precio_servicio: "",
        descuento_codigo: "",
        codigo: "",
        descuento_promocion: "",
        porcentaje_total: "",
        precio_final: "",
        state: "",
    }),
    components: {
        VueQrcode
    },
    computed: {},

    created() {
        this.initialize();
    },

    methods: {
        initialize() {
            let formData = new FormData();
            formData.append("folio", this.$route.params.folio);
            var vue = this;
            axios
                .get(API.url() + "getcita?folio=" + this.$route.params.folio)
                .then((response) => {
                    if (response.status === 200) {
                        if (response.data.data[0]) {
                            this.folios = response.data.data[0].folio;
                            this.fecha = response.data.data[0].fecha;
                            this.calle = response.data.data[0].calle;
                            this.colonia = response.data.data[0].colonia;
                            this.ciudad = response.data.data[0].ciudad;
                            this.estado = response.data.data[0].estado;
                            this.servicio = response.data.data[0].servicio;
                            this.precio_servicio = response.data.data[0].precio_servicio;
                            this.descuento_codigo = response.data.data[0].descuento_codigo;
                            this.codigo = response.data.data[0].codigo;
                            this.descuento_promocion =
                                response.data.data[0].descuento_promocion;
                            this.porcentaje_total = response.data.data[0].porcentaje_total;
                            this.precio_final = response.data.data[0].precio_final;
                            this.state = response.data.data[0].state;
                        } else {
                            this.dialog = true;
                            this.mensaje = "Ups, no se encontro la cita";
                        }
                    }
                })
                .catch((error) => {
                    if (error.response) {
                        vue.dialog = true;
                        vue.mensaje = "Ups, no se encontro la cita";
                    }
                });
        },
    },
};
</script>
