<template>
<div class="page-wrapper">
    <div class="container-fluid">
        <br/>
        <v-data-table :headers="headers" :items="codigos" sort-by="id" class="elevation-1" :search="search">
            <template v-slot:top>
                <v-app-bar dark color="pink">
                <v-toolbar-title>Códigos</v-toolbar-title>
            </v-app-bar>
                <v-toolbar flat>
                    <v-text-field v-model="search" append-icon="mdi-magnify" label="Buscar" single-line hide-details></v-text-field>
                <v-btn icon color="green" @click="initialize()">
                    <v-icon>mdi-cached</v-icon>
                </v-btn>
                <v-dialog v-model="dialog" max-width="500px">
                    <v-card>
                        <v-card-title>
                            <span class="headline">{{ formTitle }}</span>
                        </v-card-title>

                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" md="6">
                                            <v-autocomplete v-model="editedItem.cliente" item-text="clientesD" item-value="id" :items="clientes_cat" return-object label="Clientes"></v-autocomplete>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-text-field v-model="editedItem.code" label="Código"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-text-field v-model="editedItem.descuento" label="Descuento"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-menu v-model="menu" :close-on-content-click="false" transition="scale-transition" offset-y min-width="auto">
                                                <template v-slot:activator="{ on }">
                                                    <v-text-field v-model="editedItem.fecha" label="Fecha de vencimiento" readonly v-on="on" type="date"></v-text-field>
                                                </template>
                                                <v-date-picker scrollable v-model="editedItem.fecha" color="#4CAF50" no-title @change="menu = false"></v-date-picker>
                                            </v-menu>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-menu ref="menu2" v-model="menu2" :close-on-content-click="false" :nudge-right="40" :return-value.sync="editedItem.hora" transition="scale-transition" offset-y max-width="290px" min-width="290px">
                                                <template v-slot:activator="{ on }">
                                                    <v-text-field v-model="editedItem.hora" label="Hora de vencimiento" readonly v-on="on" type="time"></v-text-field>
                                                </template>
                                                <v-time-picker color="#3ac5d4" scrollable v-model="editedItem.hora" format="ampm" required @click:minute="$refs.menu2.save(editedItem.hora)"></v-time-picker>
                                            </v-menu>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-select :items="items" v-model="editedItem.state" label="Estatus"></v-select>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="close">
                                    Cancel
                                </v-btn>
                                <v-btn color="blue darken-1" text @click="comprobarItems">
                                    Save
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>

                    <v-dialog v-model="dialogDelete" max-width="500px">
                        <v-card>
                            <v-card-title class="headline">¿Eliminar este elemento?</v-card-title>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
                                <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                                <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>
            <template v-slot:item.state="{ item }">
                <v-chip elevation="2" rounded small v-if="item.state=='draft'" color="#FF9D00">Disponible</v-chip>
                <v-chip elevation="2" rounded small v-else-if="item.state=='paid'" color="#4CAF50">Asignado</v-chip>
                <v-chip elevation="2" rounded small v-else color="#FF5252">Vencido</v-chip>
            </template>
            <template v-slot:item.actions="{ item }">
                <v-icon small class="mr-2" @click="editItem(item)">
                    mdi-pencil
                </v-icon>
                <v-icon color="#FF5252" small @click="deleteItem(item)">
                    mdi-delete
                </v-icon>
            </template>
            <template v-slot:no-data>
                <v-btn color="#2b81d6" @click="initialize">
                    Reset
                </v-btn>
            </template>
            <template v-slot:item.fecha_termino="{item}">
                <span >{{new Date(item.fecha_termino).toLocaleDateString()}}</span>
                <span> a las </span>
                <span>{{new Date(item.fecha_termino).toLocaleTimeString()}}</span>
            </template>
        </v-data-table>
        <template>
            <v-dialog v-model="dialogInsert" max-width="500px">
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn v-bind="attrs" v-on="on" v-show="!hidden" color="pink" dark fixed bottom right fab>
                                <v-icon dark>
                                    mdi-plus
                                </v-icon>
                            </v-btn>
                        </template>

                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" md="6">
                                            <v-autocomplete v-model="editedItem.cliente" item-text="clientesD" item-value="id" :items="clientes_cat" return-object label="Clientes"></v-autocomplete>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-text-field v-model="editedItem.code" label="Código"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-text-field v-model="editedItem.descuento" label="Descuento"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-menu v-model="menu3" :close-on-content-click="false" transition="scale-transition" offset-y min-width="auto">
                                                <template v-slot:activator="{ on }">
                                                    <v-text-field v-model="editedItem.fecha" label="Fecha de vencimiento" readonly v-on="on" type="date"></v-text-field>
                                                </template>
                                                <v-date-picker scrollable v-model="editedItem.fecha" color="#4CAF50" no-title @change="menu3 = false"></v-date-picker>
                                            </v-menu>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-menu ref="menu4" v-model="menu4" :close-on-content-click="false" :nudge-right="40" :return-value.sync="editedItem.hora" transition="scale-transition" offset-y max-width="290px" min-width="290px">
                                                <template v-slot:activator="{ on }">
                                                    <v-text-field v-model="editedItem.hora" label="Hora de vencimiento" readonly v-on="on" type="time"></v-text-field>
                                                </template>
                                                <v-time-picker color="#3ac5d4" scrollable v-model="editedItem.hora" format="ampm" required @click:minute="$refs.menu4.save(editedItem.hora)"></v-time-picker>
                                            </v-menu>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-select :items="items" v-model="editedItem.state" label="Estatus"></v-select>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="closeInsert">
                                    Cancel
                                </v-btn>
                                <v-btn color="blue darken-1" text @click="comprobarItems">
                                    Save
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
        </template>
        <template>
            <v-snackbar v-model="snackbar" :timeout="timeout" :color="Scolor">
                {{ mensaje }}
                <template v-slot:action="{ attrs }">
                    <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
                        Close
                    </v-btn>
                </template>
            </v-snackbar>
        </template>
    </div>
</div>
</template>

<style>
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
</style>

<script>
import API from "../config";
import axios from "axios";
export default {
    data: () => ({
        search: "",
        hidden: "",
        attrs:"",
        on:"",
        dialog: false,
        dialogInsert: false,
        dialogDelete: false,
        menu: false,
        modal: false,
        modal2: false,
        menu2: false,
        menu3: false,
        menu4: false,
        snackbar: false,
        mensaje: '',
        Scolor: '',
        timeout: 2500,
        clientes_cat: [],
        items: [{
                text: 'Disponible',
                value: 'draft'
            },
            {
                text: 'Asignado',
                value: 'paid'
            },
            {
                text: 'Vencido',
                value: 'cancel'
            },
        ],
        headers: [{
                text: 'ID',
                align: 'start',
                sortable: false,
                value: 'id',
            },
            {
                text: 'Código',
                value: 'code'
            },
            {
                text: 'Descuento',
                value: 'descuento'
            },
            {
                text: 'Fecha de vencimiento',
                value: 'fecha_termino'
            },
            {
                text: 'Estatus',
                value: 'state'
            },
            {
                text: 'Opciones',
                value: 'actions',
                sortable: false
            },
        ],
        rules: [
            v => !!v || 'Campo requerido'
        ],
        codigos: [],
        editedIndex: -1,
        editedItem: {
            id: '',
            nombre: '',
            code: "",
            descuento: "",
            state: "",
            cliente_id: "",
            cliente: "",
            fecha_termino: "",
            fecha: "",
            hora: ""
        },
        defaultItem: {
            nombre: '',
            code: "",
            descuento: "",
            state: "",
            cliente_id: "",
            cliente: "",
            fecha_termino: "",
            fecha: "",
            hora: ""
        },
    }),
    computed: {
        formTitle() {
            return this.editedIndex === -1 ? 'Nuevo Código' : 'Editar Código'
        },
    },

    watch: {
        dialog(val) {
            val || this.close()
        },
        dialogInsert(val) {
            val || this.closeInsert()
        },
        dialogDelete(val) {
            val || this.closeDelete()
        },
    },

    created() {
        this.initialize()
    },

    methods: {
        initialize() {
            this.editedItem.cliente = null
            axios.get(API.url() + "getcodigos")
                .then((response) => (this.codigos = response.data.data))
                .catch(function (error) {
                    console.log(error);
                });
            axios.get(API.url() + "getclientes")
                .then((response) => (response.data.data.forEach(this.set_clientes)))
                .catch(function (error) {
                    console.log(error);
                });
        },
        set_clientes(element) {
            this.clientes_cat.push({
                id: element.id,
                clientesD: String(element.nombre),
            })
        },
        comprobarItems() {
            if (this.editedItem.cliente === '' || this.editedItem.code === '' ||
                this.editedItem.descuento === '' || this.editedItem.fecha === '' ||
                this.editedItem.hora === '' || this.editedItem.state === '') {
                this.snackbar = true
                this.Scolor = '#FF9D00'
                this.mensaje = 'Hay campos vacios'
            } else {
                this.save();
            }

        },
        editItem(item) {
            const fecha = new Date(item.fecha_termino).toISOString().slice(0, 10)
            const hora = new Date(item.fecha_termino).toLocaleTimeString()
            this.editedIndex = this.codigos.indexOf(item)
            this.editedItem.id = item.id
            this.editedItem.cliente = item.cliente_id
            this.editedItem.code = item.code
            this.editedItem.descuento = item.descuento
            this.editedItem.fecha = String(fecha)
            this.editedItem.hora = String(hora)
            this.editedItem.state = item.state
            console.log(item)
            this.dialog = true
        },

        deleteItem(item) {
            this.editedIndex = this.codigos.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialogDelete = true
        },

        deleteItemConfirm() {
            this.codigos.splice(this.editedIndex, 1)
            let formData = new FormData();
            formData.append('id', this.editedItem.id)
            axios.post(API.url() + 'deletecodigos', formData, {
                    headers: {
                        'Content-Type': 'muntipasrt/form-data'
                    }
                })
                .then(response => {
                    console.log(response.status)
                    if (response.status === 200) {
                        this.snackbar = true
                        this.Scolor = '#4CAF50'
                        this.mensaje = 'Eliminación exitosa'
                    }
                })
                .catch((error) => {
                    if (error.response) {
                        this.snackbar = true
                        this.mensaje = 'Ups, Hubo un problema al eliminar'
                        this.Scolor = '#FF5252'
                    }
                });
            this.closeDelete()
        },

        close() {
            this.dialog = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },
        closeInsert() {
            this.dialogInsert = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },
        closeDelete() {
            this.dialogDelete = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },

        save() {
            if (this.editedIndex > -1) {
                let formData = new FormData();
                let fecha_fin = this.editedItem.fecha + ' ' + this.editedItem.hora
                formData.append('id', this.editedItem.id)
                formData.append('code', this.editedItem.code)
                formData.append('descuento', this.editedItem.descuento)
                formData.append('fecha_termino', fecha_fin)
                formData.append('state', this.editedItem.state)
                formData.append('cliente_id', this.editedItem.cliente.id)
                axios
                    .post(API.url() + "putcodigos", formData, {
                        headers: {
                            "Content-Type": "multipart/form-data",
                        },
                    })
                    .then((response) => {
                        console.log(response.status)
                        if (response.status === 200) {
                            this.initialize()
                            this.snackbar = true
                            this.mensaje = 'Modificación exitosa'
                            this.Scolor = '#4CAF50'
                        }
                    })
                    .catch((error) => {
                        if (error.response) {
                            this.snackbar = true
                            this.mensaje = 'Ups, Hubo un problema al modificar, revisa los campos'
                            this.Scolor = '#FF5252'
                        }
                    });
            } else {
                let formData = new FormData();
                var fecha_fin = this.editedItem.fecha + ' ' + this.editedItem.hora
                formData.append('code', this.editedItem.code)
                formData.append('descuento', this.editedItem.descuento)
                formData.append('fecha_termino', fecha_fin)
                formData.append('state', this.editedItem.state)
                formData.append('cliente_id', this.editedItem.cliente.id)
                axios
                    .post(API.url() + "postcodigo", formData, {
                        headers: {
                            "Content-Type": "multipart/form-data",
                        },
                    })
                    .then((response) => {
                        console.log(response.status)
                        if (response.status === 200) {
                            this.initialize()
                            this.snackbar = true
                            this.Scolor = '#4CAF50'
                            this.mensaje = 'Agregado con éxito'
                        }
                    })
                    .catch((error) => {
                        if (error.response) {
                            this.snackbar = true
                            this.mensaje = 'Ups, Hubo un problema al agregar, intenta otra vez'
                            this.Scolor = '#FF5252'
                        }
                    });
                    this.closeInsert();
            }
            this.close();
        },
    }
}
</script>
