<template>
<div class="page-wrapper">
    <div class="container-fluid">
        <br/>
        <v-data-table :headers="headers" :items="horarios" sort-by="id" class="elevation-1" :search="search">
            <template v-slot:top>
                <v-app-bar dark color="pink">
                    <v-toolbar-title>Horarios vencidos</v-toolbar-title>
                </v-app-bar>
                <v-toolbar flat>
                    <v-text-field v-model="search" append-icon="mdi-magnify" label="Buscar" single-line hide-details></v-text-field>
                    <v-btn icon color="green" @click="initialize()">
                        <v-icon>mdi-cached</v-icon>
                    </v-btn>
                    <v-dialog v-model="dialog" max-width="500px">
                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>
                            <v-card-text>
                                <v-form ref="form" v-model="valid">
                                    <v-container>
                                        <v-row>
                                            <v-col cols="12" md="8">
                                                <v-menu v-model="menu" :close-on-content-click="false" transition="scale-transition" offset-y min-width="auto">
                                                    <template v-slot:activator="{ on }">
                                                        <v-text-field v-model="editedItem.fecha" label="Fecha" readonly v-on="on" type="date"></v-text-field>
                                                    </template>
                                                    <v-date-picker scrollable v-model="editedItem.fecha" color="#4CAF50" no-title @change="menu = false" :rules="rules" required></v-date-picker>
                                                </v-menu>
                                            </v-col>
                                            <v-col cols="12" md="8">
                                                <v-menu ref="menu2" v-model="menu2" :close-on-content-click="false" :nudge-right="40" :return-value.sync="editedItem.hora" transition="scale-transition" offset-y max-width="290px" min-width="290px">
                                                    <template v-slot:activator="{ on }">
                                                        <v-text-field v-model="editedItem.hora" label="Hora" readonly v-on="on" type="time"></v-text-field>
                                                    </template>
                                                    <v-time-picker color="#3ac5d4" scrollable v-model="editedItem.hora" format="ampm" required @click:minute="$refs.menu2.save(editedItem.hora)"></v-time-picker>
                                                </v-menu>
                                            </v-col>
                                            <v-col cols="12" md="8">
                                                <v-autocomplete v-model="editedItem.ubicacion" :items="ubis_cat" item-text="nombre" item-value="id" return-object label="Ubicacion" :rules="rules" required></v-autocomplete>
                                            </v-col>
                                        </v-row>
                                    </v-container>
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="close">
                                    Cancel
                                </v-btn>
                                <v-btn :disabled="!valid" color="blue darken-1" text @click="comprobarItems">
                                    Guardar
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>

                    <v-dialog v-model="dialogDelete" max-width="500px">
                        <v-card>
                            <v-card-title class="headline">¿Eliminar este elemento?</v-card-title>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
                                <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                                <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>
            <template v-slot:item.state="{ item }">
                <v-chip :color="item.color"> {{ item.state }} </v-chip>
            </template>
            <template v-slot:item.stateAc>
                <v-chip color="#FF5252"> Vencido </v-chip>
            </template>
            <template v-slot:item.actions="{ item }">
                <v-icon small class="mr-2" @click="editItem(item)">
                    mdi-pencil
                </v-icon>
                <v-icon color="#FF5252" small @click="deleteItem(item)">
                    mdi-delete
                </v-icon>
            </template>
            <template v-slot:no-data>
                <v-btn color="#2b81d6" @click="initialize">
                    Reset
                </v-btn>
            </template>
        </v-data-table>
        <template>
            <v-snackbar v-model="snackbar" :timeout="timeout" :color="Scolor">
                {{ mensaje }}
                <template v-slot:action="{ attrs }">
                    <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
                        Close
                    </v-btn>
                </template>
            </v-snackbar>
        </template>
    </div>
</div>
</template>

<script>
import API from "../config"
import axios from "axios";
export default {
    data: () => ({
        search: "",
        valid: false,
        dialog: false,
        dialogDelete: false,
        menu: false,
        modal: false,
        modal2: false,
        menu2: false,
        snackbar: false,
        mensaje: '',
        Scolor: '',
        timeout: 2500,
        headers: [{
                text: 'ID',
                align: 'start',
                sortable: false,
                value: 'id',
            },
            {
                text: 'Fecha',
                value: 'fecha'
            },
            {
                text: 'Estado Anterior',
                value: 'state'
            },
            {
                text: 'Estado Actual',
                value: 'stateAc'
            },
            {
                text: 'Opciones',
                value: 'actions',
                sortable: false
            },
        ],
        rules: [
            v => !!v || 'Campo requerido'
        ],
        horarios: [],
        ubis_cat: [],
        editedIndex: -1,
        editedItem: {
            fecha: "",
            ubicacion: "",
            hora: "",
            fecha_full: "",
            ubicacion_id: ""
        },
        defaultItem: {
            fecha: "",
            ubicacion: "",
            hora: "",
            fecha_full: "",
            ubicacion_id: ""

        },
    }),

    computed: {
        formTitle() {
            return this.editedIndex === -1 ? 'Nuevo horario' : 'Edirar Horario'
        },
    },

    watch: {
        dialog(val) {
            val || this.close()
        },
        dialogDelete(val) {
            val || this.closeDelete()
        },
    },

    created() {
        this.initialize()
    },

    methods: {
        initialize() {
            this.editedItem.fecha = null
            this.editedItem.hora = null
            this.editedItem.ubicacion = null
            this.horarios = []
            axios.get(API.url() + "gethorariosvencidos")
                .then((response) => (response.data.data.forEach(this.set_horarios)))
                .catch(function (error) {
                    console.log(error);
                });
            axios.get(API.url() + "getubicaciones")
                .then((response) => (response.data.data.forEach(this.set_ubicaciones)))
                .catch(function (error) {
                    console.log(error);
                });
        },
        set_ubicaciones(element) {
            this.ubis_cat.push({
                id: element.id,
                nombre: String(element.calle + ', ' + element.colonia + ', ' + element.ciudad + ', ' + element.estado),
            })
        },
        set_horarios(element) {
            var status = ''
            var color = ''
            if (element.state == 'open') {
                status = 'Disponible'
                color = '#4CAF50'
            } else if (element.state == 'close') {
                status = 'Ocupado'
                color = '#FFC107'
            }
            const options = {
                weekday: 'long',
                year: 'numeric',
                month: 'long',
                day: 'numeric',
                hour: '2-digit',
                minute: '2-digit'
            };
            const options_time = {
                hour: '2-digit',
                minute: '2-digit'
            };
            const fecha = new Date(element.fecha)
            this.horarios.push({
                id: element.id,
                fecha: String(fecha.toLocaleDateString('es-ES', options)),
                fecha_full: element.fecha,
                hora: String(fecha.toLocaleTimeString('es-ES', options_time)),
                ubicacion_id: element.ubicacion_id,
                state: status,
                color: color,
            })
        },
        comprobarItems() {
            if (this.editedItem.fecha === '' || this.editedItem.hora === '' ||
                this.editedItem.ubicacion === '') {
                this.snackbar = true
                this.Scolor = '#FF9D00'
                this.mensaje = 'Hay campos vacios'
            } else {
                this.save();
            }

        },
        editItem(item) {
            this.editedIndex = this.horarios.indexOf(item)
            const fecha = new Date(item.fecha_full).toISOString().slice(0, 10)
            this.editedItem.fecha = String(fecha)
            this.editedItem.hora = item.hora
            this.editedItem.ubicacion = item.ubicacion_id
            this.editedItem.id = item.id
            console.log(item)
            this.dialog = true
        },

        deleteItem(item) {
            this.editedIndex = this.horarios.indexOf(item)
            this.editedItem = Object.assign({}, item);
            this.dialogDelete = true
        },

        deleteItemConfirm() {
            this.horarios.splice(this.editedIndex, 1)
            let formData = new FormData();
            formData.append("id", this.editedItem.id);
            axios
                .post(API.url() + "deletehorarios", formData, {
                    headers: {
                        "Content-Type": "multipart/form-data",
                    },
                })
                .then(response => {
                    console.log(response.status)
                    if (response.status === 200) {
                        this.snackbar = true
                        this.Scolor = '#4CAF50'
                        this.mensaje = 'Eliminación exitosa'
                    }
                })
                .catch((error) => {
                    if (error.response) {
                        this.snackbar = true
                        this.mensaje = 'Ups, Hubo un problema al eliminar'
                        this.Scolor = '#FF5252'
                    }
                });
            this.closeDelete()
        },

        close() {
            this.dialog = false

        },

        closeDelete() {
            this.dialogDelete = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },
        save() {
            if (this.editedIndex > -1) {
                let formData = new FormData();
                let fecha_final = this.editedItem.fecha + ' ' + this.editedItem.hora
                formData.append("id", this.editedItem.id);
                formData.append("ubicacion_id", this.editedItem.ubicacion.id);
                formData.append("fecha", fecha_final);
                axios
                    .post(API.url() + "puthorarios", formData, {
                        headers: {
                            "Content-Type": "multipart/form-data",
                        },
                    })
                    .then((response) => {
                        console.log(response.status)
                        if (response.status === 200) {
                            this.initialize()
                            this.snackbar = true
                            this.mensaje = 'Modificación exitosa'
                            this.Scolor = '#4CAF50'
                        }
                    }, this.close())
                    .catch((error) => {
                        if (error.response) {
                            this.snackbar = true
                            this.mensaje = 'Ups, Hubo un problema al modificar, revisa los campos'
                            this.Scolor = '#FF5252'
                        }
                    });
            } else {
                let formData = new FormData();
                var fecha_final = this.editedItem.fecha + ' ' + this.editedItem.hora
                formData.append("ubicacion_id", this.editedItem.ubicacion.id);
                formData.append("fecha", fecha_final);
                axios
                    .post(API.url() + "posthorarios", formData, {
                        headers: {
                            "Content-Type": "multipart/form-data",
                        },
                    })
                    .then((response) => {
                        console.log(response.status)
                        if (response.status === 200) {
                            this.initialize()
                            this.snackbar = true
                            this.Scolor = '#4CAF50'
                            this.mensaje = 'Agregado con éxito'
                        }
                    })
                    .catch((error) => {
                        if (error.response) {
                            this.snackbar = true
                            this.mensaje = 'Ups, Hubo un problema al agregar, intenta otra vez'
                            this.Scolor = '#FF5252'
                        }
                    });
            }
            this.close();
        },
    },
}
</script>
