<template>
<div class="page-wrapper">
    <div class="container-fluid">
        <br/>
        <v-data-table :headers="headers" :items="citas" sort-by="id" class="elevation-1" :search="search">
            <template v-slot:top>
                <v-app-bar dark color="pink">
                    <v-toolbar-title>Citas agendadas hoy</v-toolbar-title>
                </v-app-bar>
                <v-toolbar flat>
                    <v-text-field v-model="search" append-icon="mdi-magnify" label="Buscar" single-line hide-details></v-text-field>
                    <v-btn icon color="green" @click="initialize()">
                        <v-icon>mdi-cached</v-icon>
                    </v-btn>
                </v-toolbar>
            </template>
            <template v-slot:item.state="{ item }">
                <v-chip elevation="2" rounded small v-if="item.state=='draft'" color="#FF9D00">Pendiente</v-chip>
                <v-chip elevation="2" rounded small v-else-if="item.state=='paid'" color="#4CAF50">Confirmada</v-chip>
                <v-chip elevation="2" rounded small v-else color="#FF5252">Cancelada</v-chip>
            </template>
            <template v-slot:item.status="{ item }">
                <v-chip elevation="2" rounded v-if="item.state=='paid'" color="#FF5252" @click="changeState(item)">Cancelar</v-chip>
                <v-chip elevation="2" rounded v-else-if="item.state=='draft'" color="#4CAF50" @click="changeState(item)">Aprovar</v-chip>
                <v-chip elevation="2" rounded v-else-if="item.state=='cancel'" color="#4CAF50" @click="changeState(item)">Aprovar</v-chip>
            </template>
            <template v-slot:item.actions="{ item }">
                <v-icon small class="mr-2" @click="editItem(item)">
                    mdi-pencil
                </v-icon>
                <v-icon color="#FF5252" small @click="deleteItem(item)">
                    mdi-delete
                </v-icon>
            </template>
            <template v-slot:no-data>
                <br>
                <span>No hay citas agendadas</span>
                <br>
                <v-btn color="#2b81d6" @click="initialize">
                    Reset
                </v-btn>
                <br>
            </template>
            <template v-slot:item.fecha="{item}">
                <span >{{new Date(item.fecha).toLocaleDateString()}}</span>
                <span> a las </span>
                <span>{{new Date(item.fecha).toLocaleTimeString()}}</span>
            </template>
        </v-data-table>
    </div>
</div>
</template>

<style>
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
</style>

<script>
import API from "../config"
import axios from "axios";
export default {
    data: () => ({
        hidden: "",
        attrs: "",
        on: "",
        search: "",
        hora_cat: [],
        clientes_cat: [],
        headers: [{
                text: 'Folio',
                align: 'start',
                sortable: false,
                value: 'folio',
            },
            {
                text: 'Nombre',
                value: 'nombre'
            },
            {
                text: 'Correo',
                value: 'correo'
            },
            {
                text: 'Tel',
                value: 'tel'
            },
            {
                text: 'Fecha',
                value: 'fecha'
            },
            {
                text: 'Estado',
                value: 'state'
            },
        ],
        citas: [],
        rules: {email: value => {
            const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            return pattern.test(value) || 'E-mail invalido.'
          },},
        editedIndex: -1,
        editedItem: {
            nombre: '',
            correo: "",
            tel: "",
            Sfecha: "",
            state: "",
            status: "",
            horario: "",
            fechaD: "",
            cliente: "",
            hora: ""
        },
        defaultItem: {
            nombre: '',
            correo: "",
            tel: "",
            Sfecha: "",
            state: "",
            status: "",
            horario: "",
            fechaD: "",
            cliente: "",
            hora: ""
        },
    }),

    computed: {
        formTitle() {
            return this.editedIndex === -1 ? 'Nueva cita' : 'Editar cita'
        },
    },

    watch: {
        dialog(val) {
            val || this.close()
        },
    },

    created() {
        this.initialize()
    },

    methods: {
        initialize() {

            this.horarios = []
            axios.get(API.url() + "getcitasadminnow")
                .then((response) => (this.citas = response.data.data))
                .catch(function (error) {
                    console.log(error);
                });
                
        },
        close() {
            this.dialog = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },
        closeInsert(){
            this.dialogInsert = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },
        closeDelete() {
            this.dialogDelete = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },
    },
}
</script>
