<template>
  <div><br/>
    <p class="decode-result">Escanea tu código QR aquí</p>


    <qrcode-stream :camera="camera" @decode="onDecode" @init="onInit">
      <div v-show="showScanConfirmation" class="scan-confirmation">
        <img src="../assets/checkmark.svg" alt="Checkmark" width="128px" />
      </div>
    </qrcode-stream>
    <v-card-title> {{ result }}</v-card-title>
   
  </div>
</template>

<script>
import { QrcodeStream, 
//QrcodeDropZone, QrcodeCapture 
} from 'vue-qrcode-reader'


export default {

  components: { QrcodeStream },

  data () {
    return {
      camera: 'auto',
      result: null,
      showScanConfirmation: false
    }
  },
  methods: {
    async onInit (promise) {
      try {
        await promise
      } catch (e) { 
        this.result = e
        console.error(e)
      } finally {
        this.showScanConfirmation = this.camera === "off"
      }
    },
    async onDecode (content) {
      this.result = content
      this.scanqr(content)
      console.log("escana")

      this.pause()
      await this.timeout(500)
      this.unpause()
    },
    unpause () {
      this.camera = 'auto'
    },
    pause () {
      this.camera = 'off'
    },
    timeout (ms) {
      return new Promise(resolve => {
        window.setTimeout(resolve, ms)
      })
    },
    scanqr(content){
      window.location.href = 'cita/'+content
    }
  }
}
</script>

<style scoped>
.scan-confirmation {
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, .8);

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
</style>