<template>
<div class="page-wrapper">
    <div class="container-fluid">
        <br/>
        <v-data-table :headers="headers" :items="usuarios" sort-by="id" class="elevation-1" :search="search">
            <template v-slot:top>
                <v-app-bar dark color="pink">
                <v-toolbar-title>Usuarios</v-toolbar-title>
            </v-app-bar>
            <v-toolbar flat>
                <v-text-field v-model="search" append-icon="mdi-magnify" label="Buscar" single-line hide-details></v-text-field>
                <v-btn icon color="green" @click="initialize()">
                    <v-icon>mdi-cached</v-icon>
                </v-btn>
                <v-dialog v-model="dialog" max-width="500px">
                    <v-card>
                        <v-card-title>
                            <span class="headline">{{ formTitle }}</span>
                        </v-card-title>
                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-text-field v-model="editedItem.name" label="Nombre"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-text-field v-model="editedItem.email" label="Email" :rules="[rules.email]"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-select :items="tipos" v-model="editedItem.tipo" label="Tipo"></v-select>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-select :items="items" v-model="editedItem.state" label="Estado"></v-select>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="close">
                                    Cancel
                                </v-btn>
                                <v-btn color="blue darken-1" text @click="comprobarItems">
                                    Save
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>

                    <v-dialog v-model="dialogDelete" max-width="500px">
                        <v-card>
                            <v-card-title class="headline">¿Eliminar este elemento?</v-card-title>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
                                <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                                <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>
            <template v-slot:item.state="{ item }">
                <v-chip v-if="item.state=='open'" color="#4CAF50">Activo</v-chip>
                <v-chip v-if="item.state=='close'" color="#FF5252">Inactivo</v-chip>
            </template>
            <template v-slot:item.actions="{ item }">
                <v-icon small class="mr-2" @click="editItem(item)">
                    mdi-pencil
                </v-icon>
                <v-icon color="#FF5252" small @click="deleteItem(item)">
                    mdi-delete
                </v-icon>
            </template>
            <template v-slot:no-data>
                <v-btn color="#2b81d6" @click="initialize">
                    Reset
                </v-btn>
            </template>
        </v-data-table>
        <template>
            <v-dialog v-model="dialogInsert" max-width="500px">
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn v-bind="attrs" v-on="on" v-show="!hidden" color="pink" dark fixed bottom right fab>
                                <v-icon dark>
                                    mdi-plus
                                </v-icon>
                            </v-btn>
                        </template>
                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>
                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-text-field v-model="editedItem.name" label="Nombre"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-text-field v-model="editedItem.email" label="Email" :rules="[rules.email]"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-text-field v-model="editedItem.password" label="Contraseña"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-select :items="tipos" v-model="editedItem.tipo" label="Tipo"></v-select>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-select :items="items" v-model="editedItem.state" label="Estado"></v-select>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="closeInsert">
                                    Cancel
                                </v-btn>
                                <v-btn color="blue darken-1" text @click="comprobarItems">
                                    Save
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
        </template>
        <template>
            <v-snackbar v-model="snackbar" :timeout="timeout" :color="Scolor">
                {{ mensaje }}
                <template v-slot:action="{ attrs }">
                    <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
                        Close
                    </v-btn>
                </template>
            </v-snackbar>
        </template>
    </div>
</div>
</template>

<script>
import API from "../config"
import axios from "axios";
export default {
    data: () => ({
        search: "",
        hidden: "",
        attrs: "",
        on: "",
        dialog: false,
        dialogInsert: false,
        dialogDelete: false,
        snackbar: false,
        mensaje: '',
        Scolor: '',
        timeout: 2500,
        items: [{
                text: 'Activo',
                value: 'open'
            },
            {
                text: 'Inactivo',
                value: 'close'
            }
        ],
        tipos: [{
                text: 'Admin',
                value: 'admin'
            },
            {
                text: 'Usuario',
                value: 'user'
            },
            {
                text: 'Cliente',
                value: 'cliente'
            }
        ],
        headers: [{
                text: 'ID',
                align: 'start',
                sortable: false,
                value: 'id',
            },
            {
                text: 'Nombre',
                value: 'name'
            },
            {
                text: 'Correo',
                value: 'email'
            },
            {
                text: 'Tipo',
                value: 'tipo'
            },
            {
                text: 'Estado',
                value: 'state'
            },
            {
                text: 'Opciones',
                value: 'actions',
                sortable: false
            },
        ],
        usuarios: [],
        rules: {email: value => {
            const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            return pattern.test(value) || 'E-mail invalido.'
          },},
        editedIndex: -1,
        editedItem: {
            name: '',
            email: "",
            tipo: "",
            state: "",
        },
        defaultItem: {
            name: '',
            email: "",
            tipo: "",
            password: "",
            state: "",
        },
    }),

    computed: {
        formTitle() {
            return this.editedIndex === -1 ? 'Nuevo usuario' : 'Editar usuario'
        },
    },

    watch: {
        dialog(val) {
            val || this.close()
        },
        dialogInsert(val) {
            val || this.closeInsert()
        },
        dialogDelete(val) {
            val || this.closeDelete()
        },
    },

    created() {
        this.initialize()
    },

    methods: {
        initialize() {
            axios.get(API.url() + "getusuarios")
                .then((response) => (this.usuarios = response.data.data))
                .catch(function (error) {
                    console.log(error);
                });
        },

        comprobarItems() {
            if (this.editedIndex > -1) {
                if (this.editedItem.name === '' || this.editedItem.email === '' ||
                    this.editedItem.password === '' || this.editedItem.tipo === '' ||
                    this.editedItem.state === '') {
                    this.snackbar = true
                    this.Scolor = '#FF9D00'
                    this.mensaje = 'Hay campos vacios'
                } else {
                    this.save();
                }
            } else if (this.editedIndex <= -1) {
                if (this.editedItem.name === '' || this.editedItem.email === '' ||
                    this.editedItem.tipo === '' ||
                    this.editedItem.state === '') {
                    this.snackbar = true
                    this.Scolor = '#FF9D00'
                    this.mensaje = 'Hay campos vacios'
                } else {
                    this.save();
                }
            } else {
                this.save();
            }
        },

        editItem(item) {
            this.editedIndex = this.usuarios.indexOf(item)
            this.editedItem.id = item.id
            this.editedItem.name = item.name
            this.editedItem.email = item.email
            this.editedItem.tipo = item.tipo
            this.editedItem.password = item.password
            this.editedItem.state = item.state
            console.log(item)
            this.dialog = true
        },

        deleteItem(item) {
            this.editedIndex = this.usuarios.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialogDelete = true
        },

        deleteItemConfirm() {
            this.usuarios.splice(this.editedIndex, 1)
            let formData = new FormData();
            formData.append('id', this.editedItem.id);
            axios
                .post(API.url() + 'deleteusuarios', formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then(response => {
                    console.log(response.status)
                    if (response.status === 200) {
                        this.snackbar = true
                        this.Scolor = '#4CAF50'
                        this.mensaje = 'Eliminación exitosa'
                    }
                })
                .catch((error) => {
                    if (error.response) {
                        this.snackbar = true
                        this.mensaje = 'Ups, Hubo un problema al eliminar'
                        this.Scolor = '#FF5252'
                    }
                });
            this.closeDelete()

        },

        close() {
            this.dialog = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },
        closeInsert() {
            this.dialogInsert = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },
        closeDelete() {
            this.dialogDelete = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },

        save() {
            if (this.editedIndex > -1) { ///-1
                let formData = new FormData();
                formData.append("id", this.editedItem.id);
                formData.append("name", this.editedItem.name);
                formData.append("email", this.editedItem.email);
                formData.append("tipo", this.editedItem.tipo);
                formData.append("state", this.editedItem.state);
                axios
                    .post(API.url() + "putusuarios", formData, {
                        headers: {
                            "Content-Type": "multipart/form-data",
                        },
                    })
                    .then((response) => {
                        console.log(response.status)
                        if (response.status === 200) {
                            this.initialize()
                            this.snackbar = true
                            this.mensaje = 'Modificación exitosa'
                            this.Scolor = '#4CAF50'
                        }
                    })
                    .catch((error) => {
                        if (error.response) {
                            this.snackbar = true
                            this.mensaje = 'Ups, Hubo un problema al modificar, revisa los campos'
                            this.Scolor = '#FF5252'
                        }
                    });
            } else {
                let formData = new FormData();
                formData.append("name", this.editedItem.name);
                formData.append("email", this.editedItem.email);
                formData.append("tipo", this.editedItem.tipo);
                formData.append("password", this.editedItem.password);
                formData.append("state", this.editedItem.state);
                axios
                    .post(API.url() + "postusuarios", formData, {
                        headers: {
                            "Content-Type": "multipart/form-data",
                        },
                    })
                    .then((response) => {
                        console.log(response.status)
                        if (response.status === 200) {
                            this.initialize()
                            this.snackbar = true
                            this.Scolor = '#4CAF50'
                            this.mensaje = 'Agregado con éxito'
                        }
                    })
                    .catch((error) => {
                        if (error.response) {
                            this.snackbar = true
                            this.mensaje = 'Ups, Hubo un problema al agregar, intenta otra vez'
                            this.Scolor = '#FF5252'
                        }
                    });
                    this.closeInsert();
            }
            this.close()
        },
    },
}
</script>
