<template>
<v-app id="inspire">
    <v-navigation-drawer v-model="drawer" app clipped>
        <v-list dense>
            <v-list-item class="nav-small-cap">
                <v-img max-height="50" max-width="50" src="./assets/icon.png"></v-img>
                <span class="hide-menu">Inicio</span></v-list-item>
                <br>
            <v-list-item to="/principal">
                <v-list-item-action>
                    <v-icon small>{{ icons.mdiCalendarRange  }} </v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>
                        Citas agendadas hoy
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item class="nav-small-cap"><span class="hide-menu">Administración</span></v-list-item>
            <v-list-item to="/citas">
                <v-list-item-action>
                    <v-icon small>{{ icons.mdiCalendarRange  }} </v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>
                        Citas
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item to="/citas_scan">
                <v-list-item-action>
                    <v-icon small>{{ icons.mdiCalendarRange  }} </v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>
                        Escanear Citas
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item class="nav-small-cap"><span class="hide-menu">Catalogos</span></v-list-item>
            <v-list-item to="/clientes">
                <v-list-item-action>
                    <v-icon small>{{ icons.mdiAccountDetails  }} </v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>
                        Clientes
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item to="/codigos">
                <v-list-item-action>
                    <v-icon small>{{ icons.mdiStarOutline  }} </v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>
                        Códigos
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item to="/servicios">
                <v-list-item-action>
                    <v-icon small>{{ icons.mdiRoomServiceOutline  }} </v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>
                        Servicios
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item to="/horarios">
                <v-list-item-action>
                    <v-icon small>{{ icons.mdiCalendar  }} </v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>
                        Horarios
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item to="/horariosvencidos">
                <v-list-item-action>
                    <v-icon small>{{ icons.mdiCalendarRemove  }} </v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>
                        Horarios Vencidos
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item to="/promos">
                <v-list-item-action>
                    <v-icon small>{{ icons.mdiGift  }} </v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>
                        Promociones
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item to="/ubicaciones">
                <v-list-item-action>
                    <v-icon small>{{ icons.mdiMapMarker  }} </v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>
                        Ubicaciones
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item class="nav-small-cap"><span class="hide-menu">Configuración</span></v-list-item>
            <v-list-item to="/usuarios">
                <v-list-item-action>
                    <v-icon small>{{ icons.mdiAccount  }} </v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>
                        Usuarios
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item class="nav-small-cap"><span class="hide-menu">Otros</span></v-list-item>
            <v-list-item to="/about">
                <v-list-item-action>
                    <v-icon small>{{ icons.mdiInformationVariant  }} </v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>
                        About
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>

        </v-list>
    </v-navigation-drawer>
    <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app color="#3bc6d5" dark>
        <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
            <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
            YL Studio
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-menu v-model="menu" :close-on-content-click="false" :nudge-width="200" offset-x>
            <template v-slot:activator="{ on }">
                <v-btn icon v-on="on">
                    <v-icon>{{icons.mdiAccountCircle}}</v-icon>
                </v-btn>
            </template>
            <v-card>
                <v-list>
                    <v-list-item>
                        <v-list-item-avatar>
                        <v-icon>{{icons.mdiAccountCircle}}</v-icon>
                            <!-- <img src="img/avatar-1.png"> -->
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <v-list-item-title>{{ name_user }}</v-list-item-title>
                            <v-list-item-subtitle>{{ user }}</v-list-item-subtitle>
                        </v-list-item-content>
                        
                    </v-list-item>
                </v-list>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="error" text @click="menu = false, close_session()">Salir</v-btn>
                </v-card-actions>
            </v-card>
        </v-menu>
    </v-app-bar>
    <v-main>
        <v-container fluid>
            <router-view />
        </v-container>
    </v-main>

   <v-dialog v-model="login_show" fullscreen max-width="500px">
        <template>
            <v-card class="mx-auto my-12" max-width="374">
                <template slot="progress">
                    <v-progress-linear color="deep-purple" height="10" indeterminate></v-progress-linear>
                </template>
                <v-img  src="./assets/icon.png"></v-img>
                <v-card-title>Identificate</v-card-title>
                <v-card-text>
                    <v-form ref="form" v-model="valid" lazy-validation>
                        <v-container>
                            <v-row>
                                <v-col cols="12" md="4">
                                    <v-text-field v-model="login.user" ref="correo" :rules="emailRules" label="Correo" required></v-text-field>
                                </v-col>
                                <v-col cols="12" md="4">
                                    <v-text-field v-on:keyup.enter="login_api" v-model="login.password" :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'" :rules="[rules.required]" :type="show1 ? 'text' : 'password'" name="input-10-1" label="Contraseña" counter @click:append="show1 = !show1"></v-text-field>
                                </v-col>
                            </v-row>
                            <div class="text-center">
                                <v-btn rounded color="primary" dark @click="login_api" :disabled="!valid">
                                    Continuar
                                </v-btn>
                            </div>

                        </v-container>
                        <v-progress-linear :active="dialog_loading" color="primary" indeterminate rounded height="6"></v-progress-linear>
                    </v-form>
                </v-card-text>
            </v-card>
            <v-snackbar v-model="snackbar" small :timeout="timeout" :color="Scolor">
                {{ mensaje }}
            </v-snackbar>
        </template>
    </v-dialog> 

</v-app>
</template>

<script>
import API from "./config"
// import Config from "../cedem_data.js"
import Swal from 'sweetalert2'
import axios from "axios"
// import * as fs from 'browserify-fs';
import {
    mdiAccount,
    mdiPencil,
    mdiShareVariant,
    mdiDelete,
    mdiClose,
    mdiFormatListBulleted,
    mdiAccountSearch,
    mdiBasket,
    mdiFileChart,
    mdiApps,
    mdiCalendarRange,
    mdiInformationVariant,
    mdiAccountDetails,
    mdiStarOutline,
    mdiCalendar,
    mdiCalendarRemove,
    mdiGift,
    mdiMapMarker,
    mdiAccountCircle,
    mdiRoomServiceOutline,
} from '@mdi/js'
export default {
    name: 'App',
    data: () => ({
        snackbar: false,
        multiLine: true,
        mensaje: '',
        Scolor: '',
        timeout: 2500,
        dialog_loading: false,
        dialog_progres_login: false,
        model: 'tab-2',
        text: 'Lorem',
        show_pass: false,
        settings_dialog: false,
        dialog: false,
        drawer: null,
        fav: true,
        menu: false,
        name_user: '',
        email_user: '',
        new_password: '',
        password_old: '',
        conf: {
            port: '',
            host: '',
        },
        login: {
            user: '',
            password: '',
        },
        icons: {
            mdiAccount,
            mdiPencil,
            mdiShareVariant,
            mdiDelete,
            mdiClose,
            mdiFormatListBulleted,
            mdiAccountSearch,
            mdiBasket,
            mdiFileChart,
            mdiApps,
            mdiCalendarRange,
            mdiInformationVariant,
            mdiAccountDetails,
            mdiStarOutline,
            mdiCalendar,
            mdiCalendarRemove,
            mdiGift,
            mdiMapMarker,
            mdiAccountCircle,
            mdiRoomServiceOutline,
        },
        login_show: false,
        valid: false,
        attrs: "",
        show1: false,
        on: "",
        user: "",
        password: "",
        rules: {
            required: value => !!value || 'Contraseña obligatoria.',
            min: v => v.length >= 8 || 'Min 8 characters',
            emailMatch: () => (`El correo electrónico y la contraseña que ingresaste no coinciden`),
        },
        emailRules: [
            v => !!v || 'Correo obligatorio',
            v => /.+@.+/.test(v) || 'El email debe ser válido',
        ],
    }),
    created() {
        this.validate_login()
        // this.login_api_session()
    },
    methods: {
        focusUser: function () {
            this.$refs.correo[1].focus()
        },
        validate() {
            this.$refs.form.validate()
        },
        reset() {
            this.$refs.form.reset()
        },
        resetValidation() {
            this.$refs.form.resetValidation()
        },
        login_api() {
            this.dialog_loading = true
            let formData = new FormData();
            formData.append('correo', this.login.user);
            formData.append('password', this.login.password);
            axios.post(API.url() + "loginuser", formData, {
                    headers: {
                        "Content-Type": "multipart/form-data",
                    },
                })
                .then((response) => (this.response_login_session(response.data)))
                .catch(function (error) {
                    console.log(error);
                });
        },

        response_login_session(response) {
            if (response.state == 'error') {
                this.snackbar = true
                this.Scolor = '#FF5722'
                this.mensaje = response.detail
                this.dialog_loading = false
            } else {
                localStorage.setItem("id_user", response.data[0].id);
                localStorage.setItem("user", response.data[0].email);
                localStorage.setItem("name_user", response.data[0].name);
                this.user = localStorage.getItem("user")
                this.name_user = localStorage.getItem("name_user")
                this.dialog_loading = false
                this.login_show = false
                this.login.password = null
                this.Scolor = '#4CAF50'
                this.mensaje = 'Bienvenido ' + response.data[0].name
                this.snackbar = true
            }

        },
        response_login(response) {
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                onOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })
            if (response.data[0]) {
                localStorage.setItem("id_user", response.data[0].id);
                localStorage.setItem("user", response.data[0].user);
                localStorage.setItem("name_user", response.data[0].name);
                this.user = localStorage.getItem("user")
                this.name_user = localStorage.getItem("name_user")
                this.dialog_progres_login = false
                Toast.fire({
                    icon: 'success',
                    title: 'Bienvenido'
                })
            } else {
                Toast.fire({
                    icon: 'error',
                    title: 'Acceso incorrecto'
                })
                this.dialog_progres_login = false
            }
        },
        close_session() {
            localStorage.setItem("id_user", '');
            localStorage.setItem("user", '');
            localStorage.setItem("name_user", '');
            this.validate_login()
        },
        validate_login() {
            if (!localStorage.getItem("user")) {
                this.login_show = true
            }
            this.user = localStorage.getItem("user")
            this.name_user = localStorage.getItem("name_user")
        },
        validate_timer() {
            this.intervalid1 = setInterval(() => {
                this.Badges()
                if (!localStorage.getItem("user")) {
                    this.login_show = true
                }
            }, 60000);
        },
        change_pass() {
            // const params = {
            //     user: localStorage.getItem("user"),
            //     password: this.new_password,
            //     password_old: this.password_old,
            // }
            // this.getLogin = API.get2("change_pass_api", {
            //     params
            // }).then(
            //     response => (this.response_pass_change(response))
            // );
        },
        response_pass_change(response) {
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                onOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })
            if (response.data == 'success') {
                this.settings_dialog = false
                this.password_old = ''
                this.new_password = ''
                Toast.fire({
                    icon: 'success',
                    title: 'Contraseña actualizada'
                })
            } else {
                Toast.fire({
                    icon: 'error',
                    title: 'Error al cambiar contraseña, verifica tus datos'
                })
            }
        },
        close_settigs() {
            this.settings_dialog = false
            this.password_old = ''
            this.new_password = ''
        },
    }
};
</script>

<style scoped>
.v-navigation-drawer__border {
    display: none
}
</style>
